-# frozen_string_literal: true
= form_for @target do |f|
  - if @target.errors.any?
    = render partial: 'shared/form_errors', locals: { object: @target }

  .field
    = f.label :contract
    = f.text_field :contract
  .field
    = f.label :technology
    = f.text_field :technology
  .field
    = f.label :goal
    = f.number_field :goal
  .field
    = f.label :people_goal
    = f.number_field :people_goal
  .actions
    = f.submit 'Save'
