-# frozen_string_literal: true
%h1 Listing targets

%table
  %thead
    %tr
      %th Contract
      %th Technology
      %th Goal
      %th People goal
      %th
      %th
      %th

  %tbody
    - @targets.each do |target|
      %tr
        %td= target.contract
        %td= target.technology
        %td= target.goal
        %td= target.people_goal
        %td= link_to 'Show', target
        %td= link_to 'Edit', edit_target_path(target)
        %td= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Target', new_target_path
