-# frozen_string_literal: true
%p#notice= notice

%p
  %b Contract:
  = @target.contract
%p
  %b Technology:
  = @target.technology
%p
  %b Goal:
  = @target.goal
%p
  %b People goal:
  = @target.people_goal

= link_to 'Edit', edit_target_path(@target)
\|
= link_to 'Back', @return_path
