-# frozen_string_literal: true
- site = engagement_plan.planable
%tr
  %td= site.name
  %td= site.class.to_s
  %td= format_hierarchy site.hierarchy, slim: true
  %td.text-center= human_number site.population
  %td.text-center= human_number engagement_plan.goal
  %td.text-center= human_number engagement_plan.people_goal

  %td.text-center= human_date engagement_plan.date
  %td= link_to 'Edit', edit_report_path(engagement_plan), class: 'btn yellow small'
  %td= link_to 'Delete', contract_plan_path(@contract, engagement_plan), method: :delete, class: 'btn red small sector-report-delete', remote: true, data: { confirm: 'Are you sure you want to DELETE the report?' }
