-# frozen_string_literal: true
= form_for @contract do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
      %ul
        - @contract.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :budget
    = f.text_field :budget
  .field
    = f.label :household_goal
    = f.number_field :household_goal
  .field
    = f.label :people_goal
    = f.number_field :people_goal
  .actions
    = f.submit 'Save'
