-# frozen_string_literal: true
= form_for @contract do |f|
  - if @contract.errors.any?
    = render partial: 'shared/form_errors', locals: { object: @contract }

  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :budget
    = f.text_field :budget
  .field
    = f.label :household_goal
    = f.number_field :household_goal
  .field
    = f.label :people_goal
    = f.number_field :people_goal
  .actions
    = f.submit 'Save'
