-# frozen_string_literal: true
= simple_form_for @contract do |f|
  - if @contract.errors.any?
    = render partial: 'shared/form_errors', locals: { object: @contract }

  .row
    .col.form-group
      = f.input :start_date, as: :string, input_html: { class: 'datetimepicker-input', autocomplete: 'off', data: { toggle: 'datetimepicker', target: '#contract_start_date' } }
    .col.form-group
      = f.input :end_date, as: :string, input_html: { class: 'datetimepicker-input', autocomplete: 'off', data: { toggle: 'datetimepicker', target: '#contract_end_date' } }
  .row
    .col.field
      = f.input :budget, as: :float
    .col.field
      = f.input :household_goal
    .col.field
      = f.input :people_goal
  .row.actions
    .col
      = f.button :submit, class: 'btn yellow'
    .col
      = link_to 'Back', @return_path, class: 'btn blue'
