-# frozen_string_literal: true
%tr
  %td= plan.technology.name
  %td= format_hierarchy plan.hierarchy, slim: true
  %td= human_date plan.date
  %td= human_number plan.goal
  %td= human_number plan.people_goal
  %td= plan.links
