-# frozen_string_literal: true
.row
  .col
    %h1 Contracts
  .col.text-right
    = link_to 'New Contract', new_contract_path, class: 'btn yellow'

.row
  .col
    %table.table.table-striped
      %thead
        %tr
          %th MOU
          %th Budget
          %th Households
          %th People
          %th # of targets
          %th # of plans
          %th # of reports
      %tbody
        - @contracts.each do |contract|
          %tr
            %td= link_to contract.name, contract, class: 'btn yellow'
            %td= humanized_money_with_symbol contract.budget
            %td= human_number contract.household_goal
            %td= human_number contract.people_goal
            %td= human_number contract.targets.size
            %td= human_number contract.plans.size
            %td= human_number contract.reports.size
