-# frozen_string_literal: true
.row
  .col
    %h1 Contracts
  .col.text-right
    = link_to 'New Contract', new_contract_path, class: 'btn yellow'

.row
  .col
    %table.table.table-striped
      %thead
        %tr
          %th MOU
          %th Budget
          %th Households
          %th People
          %th
      %tbody
        - @contracts.each do |contract|
          %tr
            %td= contract.name
            %td= humanized_money_with_symbol contract.budget
            %td= human_number contract.household_goal
            %td= human_number contract.people_goal
            %td= "#{link_to 'Show', contract, class: 'btn yellow small'} #{link_to 'Edit', edit_contract_path(contract), class: 'btn blue small'}".html_safe + " #{link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red small'}".html_safe if current_user.admin?
