-# frozen_string_literal: true
.row
  .col-auto
    %h1= "Contract ##{@contract.name}"
  .col.text-right
    - if current_user.contract_manager?
      = link_to 'Edit', edit_contract_path(@contract), class: 'btn yellow'
    = link_to 'Back', @return_path, class: 'btn empty'

.row.mt-3
  .col
    %table.table.table-striped.table-sm
      %thead.thead-dark
        %tr
          %th Budget
          %th Households
          %th People
          %th # of targets
          %th # of plans
          %th # of reports
          %th
      %tbody
        %tr
          %td= humanized_money_with_symbol @contract.budget
          %td= human_number @contract.household_goal
          %td= human_number @contract.people_goal
          %td= human_number @contract.targets.size
          %td= human_number @contract.plans.size
          %td= human_number @contract.reports.size
          %td= link_to 'Edit', edit_contract_path(@contract), class: 'btn blue small'

.row.mt-5
  .col
    %h3 Targets
  - if @untargeted_technologies_exist
    .col.text-right
      = link_to 'Add Target', new_contract_target_path(@contract), class: 'btn yellow'
.row
  .col
    %p Targets represent the number of technologies to be distributed/implemented in total for the MOU's time period. They are not specific to a geography and their deadline is always the end of the MOU.
  .col-12
    %table#targets_table.table.table-striped.table-sm
      %thead.thead-dark
        %tr
          %th Technology
          %th.text-right Goal
          %th.text-right People
          %th
      %tbody
        = render partial: 'target', collection: @targets

.row.mt-5
  .col
    %h3 Plans
  .col.text-right
    = link_to 'Add Plan', select_contract_path(@contract), class: 'btn yellow'
.row
  .col
    %p Plans represent a detailed goal for which technology will be distributed/implemented in a specific area before a specific deadline.
  .col-12
    %table#plans-dttb.table.table-striped.table-sm{ data: { source: dttb_index_contract_plans_path(@contract, format: :json) } }
      %thead.thead-dark
        %tr
          %th Technology
          %th Location
          %th Date
          %th.text-right Goal
          %th.text-right People
          %th
      %tbody
