-# frozen_string_literal: true
- tech_reports = @reports.where(technology: technology)
- tech_scale = technology.scale
.row
  .col-auto
    %h5= "#{technology.name}:"
  - if tech_reports.any?
    .col-auto.sort-div
      = link_to fa_icon("sort-up"), "#", id: "hide_tech_tbl_#{technology.id}", class: 'btn blue global-toggle-btn'
      = link_to fa_icon("sort-down"), "#", id: "show_tech_tbl_#{technology.id}", class: 'btn blue global-toggle-btn start-hidden'
  .col-12.tech-table-div
    - if tech_reports.any?
      %table.table.table-striped.tech-table.slim-rows{id: "tech_tbl_#{technology.id}"}
        %thead
          %tr
            %th Sector
            %th Cell
            %th Village
            - if tech_scale == 'Community'
              %th Facility
              %th Date
            %th.text-right Distributed
            %th.text-right Checked
            %th.text-right People served
            %th Story
            %th Report
        %tfoot
          %tr
            %th{colspan: "#{tech_scale == 'Community' ? 5 : 3}"} Total:
            %th.text-right= human_number tech_reports.sum(:distributed)
            %th.text-right= human_number tech_reports.sum(:checked)
            %th.text-right= human_number tech_reports.map(&:impact).sum
            %th
            %th
        %tbody
          = render partial: 'report', collection: tech_reports, locals: { tech_scale: tech_scale }
    - else
      %i No reports
