-# frozen_string_literal: true
- village_report = reports.related_to_village(village).first
- story = @stories.select{ |story| story.report_id == village_report.id}.first
- #facilities = village_report.related_facilities
%tr
  %td{colspan: 3}
  %td= "#{village.name}"
  %td.text-right= human_number village_report.distributed
  %td.text-right= human_number village_report.checked
  %td.text-right= human_number village_report.impact
  %td.text-right
    - if story.nil?
      =button_to 'Add', new_story_path, { method: :get, params: { report_id: village_report.id } }
    - else
      =button_to 'Edit', edit_story_path(story.id), method: :get
