-# frozen_string_literal: true
- plan_goals = cell_form.related_plans.nearest_to_date(@date).where(technology: @technology).pluck(:goal)
- reports = cell_form.related_reports.where(date: @date, technology: @technology)
%tr
  %td.align-middle
    %h5= "#{cell_form.name.upcase} CELL"
  %td.align-middle.text-center
    %i= "#{human_number(plan_goals.sum)} planned"
  %td.align-middle.text-center
    %i= "#{human_number(reports.sum(:distributed))} distributed"
  %td.align-middle.text-center
    %i= "#{human_number(reports.sum(:people))} People<br>Served".html_safe
  %td.align-middle.text-center
    %i= "#{human_number(reports.sum(:checked))} checked"
%tr
  = render partial: 'village_form', collection: cell_form.villages.order(:name)

