-# frozen_string_literal: true
- plans = @plans.related_to_cell(cell_form)
- reports = @reports.related_to_cell(cell_form).select(:distributed, :checked)
%tr
  %td.align-middle
    %h5= "#{cell_form.name.upcase} CELL"
  %td.align-middle.text-center
    %i= "#{human_number(plans.sum(:goal))} planned"
  %td.align-middle.text-center
    %i= "#{human_number(reports.sum(:distributed))} distributed"
  %td.align-middle.text-center
    %i= "#{human_number(reports.sum(:people))} People<br>Served".html_safe
  %td.align-middle.text-center
    %i= "#{human_number(reports.sum(:checked))} checked"
%tr
= render partial: 'village_form', collection: cell_form.villages.order(:name)
