-# frozen_string_literal: true
- plans = @plans.related_to_cell(cell_form)
- reports = @reports.related_to_cell(cell_form).select(:distributed, :checked)
%tr
  %td.align-middle{rowspan: 2}
    %h5= cell_form.name.upcase + ' CELL'
  %td.align-middle.text-center{rowspan: 2}
    %i= human_number(plans.sum(:goal)) + ' planned'
  %td.align-middle.text-center{rowspan: 2}
    %i= human_number(reports.sum(:distributed)) + ' distributed'
  %td.align-middle.text-center
    %i= "#{human_number(reports.sum(:people))} People<br>Served".html_safe
  %td.align-middle.text-center
    %i= "#{human_number(reports.sum(:households))} Households<br>Served".html_safe
  %td.align-middle.text-right{rowspan: 2}
    %i= human_number(reports.sum(:checked)) + ' checked'
%tr
  %td{colspan: 2, class: 'text-center no-padding small-text-container'}
    %i.small-text Don't duplicate people and households
= render partial: 'village_form', collection: cell_form.villages.order(:name)
