- facility = community_report.reportable.facility
%tr
  %td= community_report.reportable.cell&.name
  %td= community_report.reportable.village&.name
  %td= facility.name
  %td.text-center= human_number facility.population
  %td.text-center= facility.category
  %td.text-center= human_number community_report.distributed
  %td.text-center= human_number community_report.checked
  %td.text-center= human_date community_report.date
  %td.text-center= human_number community_report.impact
  %td= link_to 'Edit', edit_report_path(community_report), class: 'btn yellow small', target: '_blank'
  %td= link_to 'Delete', community_report, method: :delete, class: 'btn red small sector-report-delete', remote: true, data: { confirm: 'Are you sure you want to DELETE the report?' }
