= hidden_field_tag 'updates[][technology_id]', tech, id: "updates_#{facility.id}_technology_id"
%tr
  %td= facility.name
  %td= facility.population
  %td= facility.households
  %td= facility.category
  %td= facility.cell.name
  %td= facility.village.name
  %td.text-center= number_field_tag 'updates[][distributed]', nil, min: 0, step: 1, id: "updates_#{facility.id + offset}_distributed"
  %td.text-center= number_field_tag 'updates[][checked]', @checked, min: 0, step: 1, id: "updates_#{facility.id + offset}_checked"
