%table.table.table-sm#facilities_table
  %thead
    %tr
      %th Facilities
      %th.text-center Population
      %th Type
      %th Cell
      %th Village
      %th.text-center= "#<br>Installed".html_safe
      %th.text-center= "#<br>Checked".html_safe
      %th.text-center Date
      %th.text-center= "People<br>served".html_safe
    %tbody
      = render partial: 'facility_form', collection: @facilities, locals: { technology: @technology, date: @date, modal: false }
.row
  .col-12.text-right= link_to 'Add Facility', '#', id: 'facility-trigger', class: 'btn yellow', data: { toggle:  "modal", target: '#new_facility_modal' }
