-# frozen_string_literal: true
= simple_form_for report, remote: true, defaults: { input_html: { class: 'village-form' } } do |f|
  = f.input :technology_id, as: :hidden
  = f.input :date, as: :hidden, input_html: { value: @date }
  .row
    .col-6.col-md-2.field
      = f.input :cell, collection: @cells, hint: 'Select to limit villages.'
    .col-6.col-md-3.field
      = f.input :village, collection: @villages, disabled: 0, required: true, hint: 'required'
    - if @technology.is_engagement?
      .col-4.col-md-3.field
        = f.input :people, hint: 'Number of people trained'
      .col-4.col-md-3.field
        = f.input :hours, hint: 'Length of training in hours'
    - else
      .col-3.col-md-2.field
        = f.input :distributed
      .col-3.col-md-2.field
        = f.input :people
      .col-3.col-md-2.field
        = f.input :checked
    .col-3.col-md-1.field
      = f.button :submit, 'Save', class: 'btn yellow skinny btn-match-field-height', id: 'village_submit_report'
