-# frozen_string_literal: true
- @report = village.related_reports.last #should limit by date
- @distributed = @report&.distributed
- @checked = @report&.checked
= hidden_field_tag 'reports[][technology_id]', 1, id: "reports_#{village.id}_technology_id"
%tr
  %td= village.name
  %td.text-right= People served
  %td.text-right= People goal
