-# frozen_string_literal: true
- report = village_form.reports.where(date: @date, technology: @technology).order(date: :desc).first_or_initialize
- plan = village_form.plans.where(technology: @technology).nearest_to_date(@date).first
%tr
  %td
    = village_form.name
    =hidden_field_tag "batch_reports[reports][][date]", @date
    =hidden_field_tag "batch_reports[reports][][reportable_id]", village_form.id.to_s
    =hidden_field_tag "batch_reports[reports][][reportable_type]", village_form.class.to_s
  %td.text-center= human_number plan&.goal
  %td.text-center= number_field_tag "batch_reports[reports][][distributed]", report.distributed, min: 0, step: 1, class: 'form-control'
  %td.text-center= number_field_tag "batch_reports[reports][][people]", report.people, min: 0, step: 1, class: 'form-control'
  %td.text-center= number_field_tag "batch_reports[reports][][checked]", report.checked, min: 0, step: 1, class: 'form-control'
