-# frozen_string_literal: true
- report = village_report.related_reports.where(date: @date, technology: @technology).order(date: :desc).first_or_create
- plan = village_report.related_plans.where(technology: @technology).nearest_to_date(@date).first
%tr
  %td= village_report.name
  %td.text-center= human_number(plan&.goal)
  %td.text-center= number_field_tag 'reports[][distributed]', report.distributed, min: 0, step: 1, class: 'report-field'
  %td.text-center= number_field_tag 'reports[][checked]', report.checked, min: 0, step: 1, class: 'report-field'
  %td.text-right= number_field_tag 'reports[][people]', report.people, min: 0, step: 1, class: 'report-field'
  %td.text-right= number_field_tag 'reports[][households]', report.households, min: 0, step: 1, class: 'report-field'
