-# frozen_string_literal: true
.row
  .col-auto
    %h1.left= "Hidden Sectors"
  .col.text-right
    - if @show_visible
      = link_to 'Show visible', sectors_path, class: 'btn btn-outline-dark'

.row
  .col
    %h5 Hidden places don't appear on reports or in select fields.
    %h5 Click the button to make it visible (this will also make visible all Cells and Villages within this Sector).

.row.mt-3
  .col
    %table.table.table-sm.table-striped#dttb_hidden-sectors
      %thead.thead-dark
        %tr
          %th Sector
          %th District
          %th
      %tbody
        -@sectors.each do |sector|
          %tr
            %td= link_to sector.name, sector_path(sector)
            %td= sector.district.name
            %td= link_to 'Make Visible', make_visible_sector_path(sector), class: 'btn empty small'
