-# frozen_string_literal: true
.row
  .col-10
    %h1= "#{@sector.name} Sector report:"
  .col-2.text-right
    =link_to 'Back', select_sectors_path, class: 'btn yellow'
.row
  .col-12
    %h2= "#{@technology.short_name} achievements in #{@date.strftime("%B, %Y")}"

.row#sector_report
  .col-12.table-responsive
    = form_tag batch_process_reports_path, autocomplete: 'off' do
      .row
        .col-12.text-center.submit-div
          = submit_tag 'Submit report', class: 'btn btn-success'
        .col-12.text-center.warning-div
          %p.warning-text Please check form for errors
      =hidden_field_tag 'batch_reports[technology_id]', @technology.id
      =hidden_field_tag 'batch_reports[contract_id]', @contract.id
      =hidden_field_tag 'batch_reports[master_date]', @date

      - if @technology.scale == 'Family'
        = render partial: 'villages'
      - else # @technology.scale == 'Community'
        = render partial: 'facilities'
      .row
        .col-12.text-center.submit-div
          = submit_tag 'Submit report', class: 'btn btn-success'
        .col-12.text-center.warning-div
          %p.warning-text Please check form for errors

- if @technology.scale == 'Community'
  .modal.fade#new_facility_modal{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'newFacilityLabel', 'aria-hidden': 'true' }
    .modal-dialog{ role: 'document' }
      .modal-content
        .modal-header
          %h5.modal-title#new_facility_title Add Facility
          %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
            %span{ 'aria-hidden': true } &times;
        .modal-body
          = render partial: 'facilities/modal_form', locals: { facility: @facility }
