-# frozen_string_literal: true
.row
  .col-10
    %h2= "Sector report: #{@sector.name}"
  .col-2
    =link_to 'Back', select_sectors_path, class: 'btn btn-primary'

.row#sector_report
  .col-12
    .row
      .col-12
        %h4= "#{@technology.short_name}: #{@sector.name}"
      .col-12
        = form_tag(batch_process_reports_path) do
          =hidden_field_tag 'reports[sector_id]', @sector.id, disabled: true
          =hidden_field_tag 'reports[technology_id]', @technology.id, disabled: true
          =hidden_field_tag 'reports[date]', @form_date, disabled: true
          - if @technology.scale == 'Family'
            %table.table.tight
              %thead
                %tr
                  %th Villages
                  %th.text-center Planned
                  %th.text-right Distributed
                  %th.text-right Checked
              %tbody
                = render partial: 'cell_report', collection: @cells
          - else
            %table.table
              %thead
                %tr
                  %th Facilities
                  %th Population
                  %th Households
                  %th Category
                  %th Cell
                  %th Village
                  %th Installed
                  %th Checked
                %tbody
                  = render partial: 'facility_report', collection: @facilities
