-# frozen_string_literal: true
.row
  .col-10
    %h1= "#{@sector.name} Sector report:"
  .col-2.text-right
    =link_to 'Back', select_sectors_path, class: 'btn btn-primary'
.row
  .col-12
    %h2= "#{@technology.short_name} achievements in #{@date.strftime("%B, %Y")}"

.row#sector_report
  .col-12.table-responsive
    = form_tag batch_process_reports_path, autocomplete: 'off' do
      .row
        .col-12.text-center.submit-div
          = submit_tag 'Submit report', class: 'btn btn-success'
        .col-12.text-center.warning-div
          %p.warning-text Please check form for errors
      =hidden_field_tag 'batch_reports[technology_id]', @technology.id
      =hidden_field_tag 'batch_reports[contract_id]', @contract.id
      =hidden_field_tag 'batch_reports[master_date]', @date
      - if @technology.scale == 'Family'
        %table.table.table-sm.table-hover#villages_table
          %thead
            %tr
              %th Villages
              - if @plans.any?
                %th= "Planned (by #{human_date(@plans.first&.date)})"
              - else
                %th Planned
              - if @reports.any?
                %th.text-center= human_number(@reports.sum(:distributed)) + ' Distributed'
                %th.text-center= human_number(@reports.sum(:checked)) + ' Checked'
                %th.text-right= "People<br>served".html_safe
                %th.text-right= "Households<br>served".html_safe
              - else
                %th.text-center Distributed
                %th.text-right= "People<br>served".html_safe
                %th.text-right= "Households<br>served".html_safe
                %th.text-center Checked
          %tbody
            = render partial: 'cell_form', collection: @cells
      - else
        %table.table.table-sm#facilities_table
          %thead
            %tr
              %th Facilities
              %th.text-center Population
              %th.text-center Households
              %th Type
              %th Cell
              %th Village
              %th.text-center= "#<br>Installed".html_safe
              %th.text-center Install date
              %th.text-center= "#<br>Checked".html_safe
              %th.text-center= "People<br>served".html_safe
              %th.text-center= "Households<br>served".html_safe
            %tbody
              = render partial: 'facility_form', collection: @facilities, locals: { technology: @technology, date: @date, modal: false }
        .row
          .col-12.text-right= link_to 'Add Facility', '#', id: 'facility-trigger', class: 'btn btn-primary', data: { toggle:  "modal", target: '#new_facility_modal' }
      .row
        .col-12.text-center.submit-div
          = submit_tag 'Submit report', class: 'btn btn-success'
        .col-12.text-center.warning-div
          %p.warning-text Please check form for errors

- if @technology.scale == 'Community'
  .modal.fade#new_facility_modal{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'newFacilityLabel', 'aria-hidden': 'true' }
    .modal-dialog{ role: 'document' }
      .modal-content
        .modal-header
          %h5.modal-title#new_facility_title Add Facility
          %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
            %span{ 'aria-hidden': true } &times;
        .modal-body= render partial: 'facilities/form', locals: { facility: @facility, modal: true }
