-# frozen_string_literal: true
.row
  .col-12
    #ajax_response
.row
  .col-10
    %h4= "#{@technology.short_name} in #{@sector.name} Sector during #{@date.strftime("%B, %Y")}"
  .col-2.text-right
    =link_to 'Back', select_sectors_path, class: 'btn yellow'

.row#sector_form
  .col-12
    %h5 Create a new report:
  .col-12
    - if @technology.scale == 'Family'
      = render partial: 'village_form', locals: { report: @report }
    - else # @technology.scale == 'Community'
      = render partial: 'facility_form', locals: { report: @report }

- if @technology.scale == 'Community'
  .row.justify-content-center
    .col-auto= link_to 'Add New Facility', '#', id: 'facility-trigger', class: 'btn yellow', data: { toggle:  "modal", target: '#new_facility_modal' }

.row#sector_reports
  .col-12
    %h5 Existing reports:
  .col-12
    = render partial: 'reports', locals: { scale: @technology.scale }

- if @technology.scale == 'Community'
  .modal.fade#new_facility_modal{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'newFacilityLabel', 'aria-hidden': 'true' }
    .modal-dialog{ role: 'document' }
      .modal-content
        .modal-header
          %h5.modal-title#new_facility_title Add Facility
          %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
            %span{ 'aria-hidden': true } &times;
        .modal-body
          = render partial: 'facilities/modal_form', locals: { facility: @facility }
