-# frozen_string_literal: true
.row.mb-3
  .col-sm-4
    %h4= "Data: #{@sector.name} Sector"
  .col-sm-3.text-center
    - if @by_tech
      = link_to 'View by Cell', request.fullpath.gsub('&by_tech=true', '').gsub('?by_tech=true', '') , class: 'btn btn-outline-dark', id: 'dist_viewby'
    - else
      = link_to 'View by Technology', @by_tech_rfp , class: 'btn btn-outline-dark', id: 'dist_viewby'
  .col-sm-3.text-center
    - if @skip_blanks
      = link_to 'Show empty rows', request.fullpath.gsub('&skip_blanks=true', '').gsub('?skip_blanks=true', '') , class: 'btn btn-outline-dark', id: 'dist_skipblank'
    - else
      = link_to 'Hide empty rows',  @skip_blanks_rfp, class: 'btn btn-outline-dark', id: 'dist_skipblank'
  .col-sm-2.text-right
    - if current_user.can_manage_geography? || current_user.admin?
      = link_to 'Edit', edit_sector_path(@sector), class: 'btn btn-primary'
    = link_to 'Back', sectors_path, class: 'btn btn-dark'

= render partial: 'shared/search', locals: { from: @from, to: @to, earliest: @earliest, latest: @latest }

- if @by_tech
  .row.mt-3#tech_section
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Technology
            %th.text-right Distributed
            %th.text-right= "Dist. Goal (by #{@plan_date})"
            %th.text-right Checked
            %th.text-right People served
            %th.text-right People goal
        %tfoot
          %tr
            %th Grand Total
            %th.text-right= human_number @reports.sum(:distributed)
            %th.text-right= human_number @plans.sum(:goal)
            %th.text-right= human_number @reports.sum(:checked)
            %th.text-right= human_number @reports.map(&:impact).sum
            %th.text-right= human_number @plans.sum(:people_goal)
        %tbody
          = render partial: 'technology', collection: @technologies
- else
  .row.mt-3#sector_section
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Cell
            - @technologies.each do |technology|
              - next if @reports.where(technology: technology).size.zero? && @plans.where(technology: technology).size.zero?
              %th.text-right= "#{technology.short_name} Dist"
              %th.text-right= "#{technology.short_name} Planned"
            %th.text-right People served
            %th.text-right= "People goal (by #{@plan_date})"

        %tfoot
          %tr
            %th Grand Total
            - @technologies.each do |technology|
              - next if @reports.where(technology: technology).size.zero? && @plans.where(technology: technology).size.zero?
              %th.text-right= human_number @reports.where(technology: technology).sum(:distributed)
              %th.text-right= human_number @plans.where(technology: technology).sum(:goal)
            %th.text-right= human_number @reports.map(&:impact).sum
            %th.text-right= human_number @plans.sum(:people_goal)
        %tbody
          = render partial: 'cell', collection: @cells
