-# frozen_string_literal: true
.row.mb-3
  .col-sm-4
    %h2= "Data: #{@sector.name} Sector"
  .col-sm-3.text-center
    - if @by_tech
      = link_to 'View by Cell', request.fullpath.gsub('&by_tech=true', '').gsub('?by_tech=true', '') , class: 'btn btn-outline-dark', id: 'dist_viewby'
    - else
      = link_to 'View by Technology', @by_tech_rfp , class: 'btn btn-outline-dark', id: 'dist_viewby'
  .col-sm-3.text-center
    - if @skip_blanks
      = link_to 'Show empty rows', request.fullpath.gsub('&skip_blanks=true', '').gsub('?skip_blanks=true', '') , class: 'btn btn-outline-dark', id: 'dist_skipblank'
    - else
      = link_to 'Hide empty rows',  @skip_blanks_rfp, class: 'btn btn-outline-dark', id: 'dist_skipblank'
  .col-sm-2.text-right
    - if current_user.geography_manager?
      = link_to 'Edit', edit_sector_path(@sector), class: 'btn yellow'
    = link_to 'Back', @return_path, class: 'btn blue'
  .col-sm-12= format_hierarchy @sector.hierarchy, links: true

= render partial: 'shared/search', locals: { from: @from, to: @to, earliest: @earliest, latest: @latest }

- if @by_tech
  = render partial: 'shared/geography_by_technology', locals: { geography: @sector }
- else
  = render partial: 'shared/geography_by_child', locals: { geography: @sector, children: @cells }

= render partial: 'shared/geography_direct_reports', locals: { geography: @sector } if @sector.reports.any?
