-# frozen_string_literal: true
.row
  .col
    %h2= 'Hey ' + @user.fname
.row.justify-content-center.mb-5
  - if @lifetime_stats.any?
    - @lifetime_stats.each do |stat_block|
      - next if stat_block.blank?
      = render partial: "shared/basic_stat_block", locals: { stat: stat_block[:stat], title: stat_block[:title], highlight: false }
  = render partial: "shared/basic_stat_block", locals: { stat: @global_impact, title: 'People served', highlight: true  }
.row.justify-content-center.mb-3
  .col
    %h3.text-center Things you can do:

.row.deck.justify-content-center
  .col-sm-12.col-md-6.col-lg-3
    .card.my-2
      .card-body
        %h5.card-title View the data
        %p.card-text Get information on progress
        = link_to 'View', data_filter_path, class: 'btn yellow'

  - if @user.reports_manager?
    .col-sm-12.col-md-6.col-lg-3
      .card.my-2
        .card-body
          %h5.card-title Submit a report
          %p.card-text Or edit existing reports
          = link_to 'Submit', select_sectors_path, class: 'btn yellow'

    .col-sm-12.col-md-6.col-lg-3
      .card.my-2
        .card-body
          %h5.card-title Write a story
          %p.card-text Find a recent report and write a story
          = link_to 'Submit', monthly_path, class: 'btn yellow'

  - if @user.geography_manager?
    .col-sm-12.col-md-6.col-lg-3
      .card.my-2
        .card-body
          %h5.card-title Manage facilities
          %p.card-text Churches, schools, health clinics
          = link_to 'Go', facilities_path, class: 'btn yellow'

    .col-sm-12.col-md-6.col-lg-3
      .card.my-2
        .card-body
          %h5.card-title Manage geography
          %p.card-text Districts, sectors, cells, villages
          = link_to 'Go', geography_path, class: 'btn yellow'

  - if @user.technology_manager?
    .col-sm-12.col-md-6.col-lg-3
      .card.my-2
        .card-body
          %h5.card-title Manage technologies
          %p.card-text Create, update, delete technologies
          = link_to 'Go', technologies_path, class: 'btn yellow'

  - if @user.contract_manager?
    .col-sm-12.col-md-6.col-lg-3
      .card.my-2
        .card-body
          %h5.card-title Manage MOUs
          %p.card-text Contracts, targets, plans
          = link_to 'Go', contracts_path, class: 'btn yellow'

  - if @user.admin?
    .col-sm-12.col-md-6.col-lg-3
      .card.my-2
        .card-body
          %h5.card-title Manage users
          %p.card-text passwords, permissions, etc.
          = link_to 'Go', users_path, class: 'btn yellow'

  .col-sm-12.col-md-6.col-lg-3
    .card.my-2
      .card-body
        %h5.card-title Need helo?
        %p.card-text Talk to an administrator
        - @admins.each do |admin|
          = link_to 'Email ' + admin.fname, 'mailto:' + admin.email, class: 'btn yellow', target: '_blank'
