-# frozen_string_literal: true
.row
  .col-8
    %h1 All users
  .col-4.text-right
    = link_to 'New User', new_user_path, class: 'btn yellow'

.row
  .col
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th.text-center Admin?
        %th.text-center Confirmed?
        - if current_user.admin?
          %th
          %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td.text-center= human_boolean user.admin?
          %td.text-center= human_boolean user.confirmed_at.present?
          - if current_user.admin?
            %td= link_to 'Edit', edit_user_path(user), class: 'btn yellow'
            %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red'

