.row#permissions_page
  .col
    = form_for @user, url: set_permissions_user_path(@user), method: :put do |f_u|
      .row
        .col-8
          %h1= "Set #{@user.fname}'s Permissions"
        .col-4
          = f_u.submit 'Set Permissions', class: 'btn btn-primary'

      = fields_for 'user[global_permissions]' do |f|
        .row.mt-3
          .col
            %h3 Set Global Permissions:
        .row
          .col
            = f.label :create, 'Create anything'
            = f.check_box :create
          .col
            = f.label :read, 'Read everything'
            = f.check_box :read
          .col
            = f.label :update, 'Update anything'
            = f.check_box :update
          .col
            = f.label :delete, 'Delete anything'
            = f.check_box :delete
          .col
            = f.label :all, "Assign all"
            = f.check_box :all
            %p
              %i (makes user an admin)

      = fields_for 'user[geo_permissions]' do |f|
        .row.mt-3
          .col
            %h3 Set all Geographies:
        .row
          .col
            = f.label :create, 'Create any place'
            = f.check_box :create
          .col
            = f.label :read, 'Read every place'
            = f.check_box :read
          .col
            = f.label :update, 'Update any place'
            = f.check_box :update
          .col
            = f.label :delete, 'Delete any place'
            = f.check_box :delete
          .col
            = f.label :all, "Assign all"
            = f.check_box :all

      = fields_for 'user[info_permissions]' do |f|
        .row.mt-3
          .col
            %h3 Set all Info:
            %p Info includes: Data, Plans, Reports, Targets, Technologies
        .row
          .col
            = f.label :create, 'Create anything'
            = f.check_box :create
          .col
            = f.label :read, 'Read everything'
            = f.check_box :read
          .col
            = f.label :update, 'Update anything'
            = f.check_box :update
          .col
            = f.label :delete, 'Delete anything'
            = f.check_box :delete
          .col
            = f.label :all, "Assign all"
            = f.check_box :all

      - Constants::Application::MODEL_LIST.each do |model|
        = fields_for "user[permissions][#{model}]" do |f|
          .row.mt-3
            .col
              %h3= "Set for #{model}:"
            .col-4.text-right
              = link_to 'Show', '#', class: 'prevent-default btn btn-outline-primary', data: { trigger: 'model-toggle', target: 'div_' + model.downcase }
          .row{ id: "div_#{model.downcase}", data: { state: 'start-hidden' } }
            .col
              = f.label :create, "Create #{model}"
              = f.check_box :create
            .col
              = f.label :read, "Read #{model}"
              = f.check_box :read
            .col
              = f.label :update, "Update #{model}"
              = f.check_box :update
            .col
              = f.label :delete, "Delete #{model}"
              = f.check_box :delete
            .col
              = f.label :all, "Assign all"
              = f.check_box :all


