-# frozen_string_literal: true
%nav.navbar.navbar-expand-lg.align-items-end#brandbar_nav
  =link_to 'https://20liters.org', class: 'navbar-brand' do
    = image_tag 'https://20liters.org/wp-content/themes/twenty-liters/library/images/logo.png', target: '_blank'
  %button.navbar-toggler{ data: { toggle: 'collapse', target: '#brandbar'}, aria: { controls: 'brandbar', expanded: 'false', label: 'Toggle'} }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse.text-right#brandbar
    %ul.navbar-nav.ml-auto
      %li.nav-item.fix-width-106
        =link_to 'About Us', 'https://20liters.org/about-us/', target: '_blank', class: 'nav-link'
      %li.nav-item.fix-width-106
        =link_to 'Clean Water', 'https://20liters.org/clean-water/', target: '_blank', class: 'nav-link'
      %li.nav-item.fix-width-106
        =link_to 'Get Involved', 'https://20liters.org/get-involved/', target: '_blank', class: 'nav-link'
      %li.nav-item.fix-width-106
        =link_to 'Blog', 'https://20liters.org/blog/', target: '_blank', class: 'nav-link'
      %li.nav-item
        =link_to 'https://www.facebook.com/20liters', target: '_blank', rel: 'noopener noreferrer', class: 'nav-link' do
          =fa_icon 'facebook'
      %li.nav-item
        = link_to 'https://www.instagram.com/20liters/', target: '_blank', rel: 'noopener noreferrer', class: 'nav-link' do
          = fa_icon 'instagram'
      %li.nav-item.kindful-track.fix-width-106
        = link_to 'Give', '#!', class: 'nav-link', id: 'kindful_plugin'
%section.internal-header
  %h1= @title
  %h5= @subtitle
  - if controller.controller_name == 'stories' && controller.action_name == 'show'
    .d-flex.justify-content-center#dashboard_btn
      = link_to 'Back to Dashboard', dashboard_index_path, {class: 'btn blue'}

