-# frozen_string_literal: true
= form_for @facility do |f|
  - if @facility.errors.any?
    #error_explanation
      %h2= "#{pluralize(@facility.errors.count, "error")} prohibited this facility from being saved:"
      %ul
        - @facility.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :gis_id
    = f.number_field :gis_id
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :population
    = f.number_field :population
  .field
    = f.label :households
    = f.number_field :households
  .field
    = f.label :category
    = f.text_field :category
  .actions
    = f.submit 'Save'
