-# frozen_string_literal: true
= simple_form_for facility do |f|
  - if facility.errors.any?
    = render partial: 'shared/form_errors', locals: { object: facility }

  .row
    .col.field
      = f.input :name
    .col.field
      = f.input :category, collection: Constants::Facility::CATEGORY
  .row
    .col.field
      = f.input :description, as: :text
  .row
    - if facility.new_record?
      .col.field
        = f.input :sector, collection: @sectors, hint: 'Select to limit cells.'
      .col.field
        = f.input :cell, collection: [['Please select a sector', '0']], disabled: 0, hint: 'Select to limit villages.'
      .col.field
        = f.input :village, collection: [['Please select a cell','0']], disabled: 0
    - else
      .col.field
        = f.input :sector, collection: @sectors, selected: facility.sector.id
      .col.field
        = f.input :village, collection: facility.sector.villages.select(:name, :id).order(:name), selected: facility.village.id
  .row
    .col.field
      = f.input :population
    .col.field
      = f.input :households
  .row
    .col.field
      = f.input :latitude, hint: 'like -2.054922'
    .col.field
      = f.input :longitude, hint: 'like 30.0912883'
  .row.my-3.actions
    .col.text-left
      = link_to 'Back', @return_path, class: 'btn yellow'
    .col.text-right
      = f.button :submit, class: 'btn yellow'
