-# frozen_string_literal: true
= simple_form_for @facility do |f|
  - if @facility.errors.any?
    = render partial: 'shared/form_errors', locals: { object: @facility }

  .row
    .col.field
      = f.input :name
    .col.field
      = f.input :category, collection: Constants::Facility::CATEGORY
  .row
    .col.field
      = f.input :description, as: :text
  .row
    .col.field
      = f.input :population
    .col.field
      = f.input :households
  .row
    .col.field
      = f.input :latitude, hint: 'like -2.054922'
    .col.field
      = f.input :longitude, hint: 'like 30.0912883'
  .row.my-3.actions
    .col.text-left
      = link_to 'Back', request.referrer, class: 'btn btn-primary'
    .col.text-right
      = f.button :submit, class: 'btn btn-primary'
