// for sectors#report:_facility_form and sectors#report:smodal: facilities#modal_form

// remove any 'is-invalid' css tags
$('.is-invalid').removeClass('is-invalid');

// clear out the sectors#report:facility/_modal_form fields
$('form#new_facility').find('input[type!="submit"]').val('')
$('form#new_facility').find('textarea').val('')
$('form#new_facility').find('select').find('option:first').attr('selected', 'selected')

// clear out the sectors#report select fields
$('select.form-control.optional').val('')

// hide the modal
$('#new_facility_modal').modal('hide');

// select the geography automatically in the form
$('#report_cell').val("<%= @facility.cell.id %>");

$('#report_village').html('');
$('#report_village').append('<option></option>');
$('#report_village').append(new Option("<%= @facility.village.name %>", "<%= @facility.village.id %>"));
$('#report_village').val("<%= @facility.village.id %>");

$('#report_reportable_id').html('');
$('#report_reportable_id').append('<option></option>');
$('#report_reportable_id').append(new Option("<%= @facility.name %>", "<%= @facility.id %>"));
$('#report_reportable_id').val("<%= @facility.id %>");
