-# frozen_string_literal: true
.container
  %h1 All Facilities

  %table.table#dttb-facilities
    %thead
      %tr
        %th Name
        %th Village
        %th Sector
        %th Population
        %th Households
        %th Category
        %th

    %tbody
      - @facilities.each do |facility|
        %tr
          %td= facility.name
          %td= facility.village.name
          %td= facility.sector.name
          %td= facility.population
          %td= facility.households
          %td= facility.category
          %td
            = link_to 'Show', facility, class: 'btn yellow small'
            = link_to 'Edit', edit_facility_path(facility), class: 'btn blue small'

  .row.justify-content-center.align-self-center
    .col-2
      = link_to 'New Facility', new_facility_path, class: 'btn yellow'
