-# frozen_string_literal: true
.row.mb-3
  .col-sm-8
    %h4 Data: #{@facility.name} facility
  .col-sm-4.text-right
    - if @facility.has_reports_or_plans?
      = link_to 'Reassign Data', reassign_facility_path(@facility), class: 'btn btn-outline-dark'
    = link_to 'Edit', edit_facility_path(@facility), class: 'btn yellow' if current_user.geography_manager?
    = link_to 'Back', @return_path, class: 'btn blue'
  .col-sm-12= format_hierarchy @facility.hierarchy, links: true

= render partial: 'shared/search', locals: { from: @from, to: @to, earliest: @earliest, latest: @latest }

= render partial: 'shared/geography_direct_reports', locals: { geography: @facility, from: @from, to: @to } if @facility.reports.any?
