-# frozen_string_literal: true
.row.mb-3
  .col-sm-8
    %h1 Villages
  .col-sm-2.text-right
    - if @show_hidden
      = link_to 'Show hidden', hidden_villages_path, class: 'btn btn-outline-dark small'
  .col-sm-2.text-right
    = link_to 'New', new_village_path, class: 'btn yellow small'
    = link_to 'Back', @return_path, class: 'btn blue small'

= render partial: 'shared/search', locals: { from: @from, to: @to, earliest: @earliest, latest: @latest }

%table.table.table-striped.table-sm#dttb-villages
  %thead
    %tr
      %th Village
      %th Sector
      %th.text-right People served
      %th.text-right People goal
  %tbody
    = render @villages
