- story = local_assigns[:story]
- story_exists = !story.nil?
- report_id_exists = !@story.report_id.blank?

- if report_id_exists
  = form_for @story do |f|
	
    = f.hidden_field :report_id, value: @report_id
    .field
      = f.label 'Title'
      = f.text_field :title, value: (story.title if story_exists)
    .field
      = f.label 'Story Text'
      = f.text_area :text, value: (story.text if story_exists)
    .field
      = f.label 'Photo'
      = f.file_field :photo
    .actions
      = f.submit 'Save'

  - if @story.image
    %br
    %div
      %p Image Preview:
      =image_tag @story.image, width: '400'

  - if @story.image_thumbnail
    %br
    %div
      %p Thumbnail Preview:
      =image_tag @story.image_thumbnail, width: '400'
  

