-# frozen_string_literal: true
.container
  .col-12
    %h1 New Story
    %h4= "For Report ##{link_to(@report.id, @report)}: #{@report.details}".html_safe
    %h4= "#{@report.reportable.village.name}, #{@report.reportable.sector.name}"
  .col-12
    = simple_form_for @story, wrapper: :horizontal_form, html: { id: 'story_form' }  do |f|
      = f.input :report_id, as: :hidden
      = hidden_field_tag :year, @year
      = hidden_field_tag :month, @month
      .field
        = f.input :title
      .field
        = f.input :prominent
      .field.wysiwyg
        = f.input :text, input_html: { class: "tinymce", style: "height: 300px;" }
      .row.actions.text-center
        .col
          = f.submit 'Save Story', class: 'btn yellow'
        .col
          - if @story.persisted?
            = link_to 'Delete Story', story_path(@story), method: :delete, class: 'btn red'
        -if @story.image.attached?
          .col
            = link_to 'Go to image', image_story_path(@story, year: params[:year], month: params[:month]), class: 'btn blue'
= tinymce
