-# frozen_string_literal: true
.container
  .col-12
    %h1 New Story
    %h4= "For Report ##{link_to(@report.id, @report)}: #{@report.details}".html_safe
    %h4= "#{@report.reportable.village&.name}, #{@report.reportable.sector&.name}"
  .col-12
    = simple_form_for @story, wrapper: :horizontal_form, html: { id: 'story_form' }  do |f|
      = f.input :report_id, as: :hidden
      .field
        = f.input :title
      .field
        = f.input :prominent
      .field.wysiwyg
        = f.input :text, input_html: { class: "tinymce", style: "height: 300px;" }
      .row.actions.justify-content-center
        .col-auto
          = f.submit 'Save Story', class: 'btn yellow'
        - if @story.persisted?
          .col-auto
            = link_to 'View Story', story_path(@story), class: 'btn blue'
          .col-auto
            = link_to 'Delete Story', story_path(@story), method: :delete, class: 'btn red'
        -if @story.image.attached?
          .col-auto
            = link_to 'Go to image', image_story_path(@story, year: params[:year], month: params[:month]), class: 'btn yellow'
        .col-auto
          = link_to "Back to #{@monthly_report_name} Report", monthly_w_date_path(year: @monthly.year, month: @monthly.month), class: 'btn blue'
= tinymce
