- if @story.report_id.blank?
  %br
  %br
  %p Something went wrong and the report_id wasn't properly associated to this new story. Please navigate back and try again!

- else
  .row
    .col-12
      %h1 New Story
      %h4= 'For Report #' + link_to(@report.id, @report).html_safe + @report.details
    .col-12
      = simple_form_for @story, { wrapper: :horizontal_form }  do |f|
        = f.input :report_id, as: :hidden
        = hidden_field_tag :year, @year
        = hidden_field_tag :month, @month
        .field
          = f.input :title
        .field
          = f.input :prominent
        .field.wysiwyg
          = f.input :text, input_html: { class: "tinymce", style: "height: 300px;" }
        .field
          = f.label @story.image.present? ? 'Replace Picture:' : 'Choose Picture:'
          = f.file_field :photo, id: "image_upload", accept: 'image/*'
        .actions
          = f.submit 'Save', class: 'btn yellow'

  .row
    #image_preview_wrapper.col-6
      %br
      %div
        %p Image Preview:
        =image_tag(@story.picture, id: "image_preview", width: '400')
    #rotations.col-6
      .row
        .col-12
          .row
            .col-6
              Rotate left
            .col-6
              Rotate right
        .col-12 Delete Picture

= tinymce
