- if @story.report_id.blank?
  %br
  %br
  %p Something went wrong and the report_id wasn't properly associated to this new story. Please navigate back and try again!
- else
  = form_for @story do |f|

    = f.hidden_field :report_id, value: @story.report_id
    = hidden_field_tag :year, @year
    = hidden_field_tag :month, @month
    .field
      = f.label 'Title'
      = f.text_field :title, value: @story.title
    .field
      = f.label 'Prominent'
      = f.check_box :prominent, value: @story.prominent
    .field.wysiwyg
      = f.label 'Story Text'
      = f.text_area :text, value: @story.text, :class => "tinymce", style: "height: 500px;"
    .field
      = f.label 'Photo'
      = f.file_field :photo, id: "image_upload"
    .actions
      = f.submit 'Save'

    %div{ id: "image_preview_wrapper", :class => ("hide" if @story.image.blank?) }
      %br
      %div
        %p Image Preview:
        =image_tag @story.image, id: "image_preview", width: '400'

    %div{ id: "image_thumbnail_preview_wrapper", :class => ("hide" if @story.image_thumbnail.blank?) }
      %br
      %div
        %p Thumbnail Preview:
        =image_tag @story.image_thumbnail, id: "image_thumbnail_preview", width: '200'

  %br
  = tinymce
