
- if @story.report_id.blank?
  %br
  %br
  %p Something went wrong and the report_id wasn't properly associated to this new story. Please navigate back and try again!
- else

  = form_for @story do |f|
	
    = f.hidden_field :report_id, value: @story.report_id
    .field
      = f.label 'Title'
      = f.text_field :title, value: @story.title
    .field
      = f.label 'Story Text'
      = f.text_area :text, value: @story.text
    .field
      = f.label 'Photo'
      = f.file_field :photo
    .actions
      = f.submit 'Save'

  - if @story.image
    %br
    %div
      %p Image Preview:
      =image_tag @story.image, width: '400'

  - if @story.image_thumbnail
    %br
    %div
      %p Thumbnail Preview:
      =image_tag @story.image_thumbnail, width: '400'
  

