-# frozen_string_literal: true
.d-flex.justify-content-center#dashboard_btn
  = link_to 'Back to Dashboard', dashboard_index_path, {class: 'btn blue'}

.container.mt-5
  .row
    -if @story.image.attached?
      = render partial: 'image_show'
    .col
      .meta
        .location
          = "#{@story.report.reportable.village.name}, #{@story.report.reportable.sector.name}"
        %div
          %span.date
            = @story.report.date.strftime('%B %d, %Y')
      .story-text
        = @story.text.html_safe
  .row.justify-content-center
    .col-sm-auto
      %h4 Location Details:
  .row.justify-content-center
    .col-sm-auto
      %table.table.table-sm
        -@breadcrumb.each do |geo, name|
          %tr
            %td="#{geo}:"
            %td="#{name}"

    - if @related_stories
      .related-stories
        .heading
          %h2
            = "Related Stories"
        .story-list.card-columns#story_column
          = render partial: 'dashboard/story', collection: @related_stories
