%div.hero{ :style => "background-image: url(#{@story.image})" }
  %div.breadcrumbs.container
    = link_to "Dashboard", dashboard_index_path, {class: 'btn yellow'}

%div.container.mt-5
  %h1
    = @story.title

  %div.meta
    %div
      %span.author
        = "#{@story.report.user.fname} #{@story.report.user.lname}"
      %span.location
        = "#{@story.report.reportable.village.name}, #{@story.report.reportable.sector.name}"
    %div
      %span.date
        = @story.report.date.strftime('%B %d, %Y')
  %div.story-text
    = @story.text.html_safe

  - if @related_stories
    %div.related-stories
      %div.heading
        %h2
          = "Related Stories"
      %div.story-list.card-columns#story_column
        = render partial: 'dashboard/story', collection: @related_stories
