-# frozen_string_literal: true
.container.mt-5
  .row
    = render partial: 'image_show'
    .col
      .row
        .col.mb-5
          .meta
            = @story.report.date.strftime('%B %d, %Y')
          %h3= @story.title
          %i= @tagline
          .story-text= @story.text.html_safe
      .row
        .col-sm-auto.mb-4
          .location-details
            %h5 Location:
            %table.table.table-sm.small-text
              -@hierarchy.each do |geo|
                %tr
                  %td="#{geo[:name]}"
        .col
          .technology-details
            %h5 Solution:
            .row
              .col-auto
                = image_tag @technology.image_name, class: 'tech-img'
              .col
                = @technology.description

- if @related_stories
  .container.mt-5
    .related-stories
      .heading
        %h2
          = "Related Stories"
      .story-list.card-columns#story_column
        = render partial: 'dashboard/story', collection: @related_stories
