- @plan_sub = @plans.related_to_sector(sector)
- @report_sub = @reports.related_to_sector(sector)
- return if @plan_sub.blank? && @report_sub.blank? && @skip_blanks
%tr
  %td.text-left
    - if @plan_sub.empty? && current_user.can_create?('Plan')
      %span.float-left= link_to sector.name, sector_path(sector)
      %span.float-right= link_to 'Add plan', new_plan_path(model_gid: sector.to_global_id.to_s), class: 'btn btn-outline-primary'
    - elsif @report_sub.empty? && current_user.can_create?('Report')
      %span.float-left= link_to sector.name, sector_path(sector)
      %span.float-right= link_to 'Add report', new_report_path(model_gid: sector.to_global_id.to_s), class: 'btn btn-outline-primary'
    -else
      = link_to sector.name, sector_path(sector)
  - if @plan_sub.any? || @report_sub.any?
    %td.text-right= human_number @report_sub.map(&:people_served).sum
    %td.text-right= human_number @plan_sub.sum(:people_goal)
  - else
    %td= "No plans or reports related to #{@district.name} for this sector and time period"
    - if current_user.can_create?('Report')
      %td= link_to 'Add report', new_report_path(model_gid: sector.to_global_id.to_s), class: 'btn btn-outline-primary'
    - else
      %td
