-# frozen_string_literal: true
.row.mb-3
  .col-sm-8
    %h4 Data: All Districts
  .col-sm-2.text-right
    = link_to 'All Sectors', sectors_path, class: 'btn yellow'
  .col-sm-2.text-right
    - if current_user.can_manage_reports? || current_user.admin?
      = link_to 'New', new_district_path, class: 'btn yellow'
    = link_to 'Back', data_path, class: 'btn blue'

= render partial: 'shared/search', locals: { from: @from, to: @to, earliest: @earliest, latest: @latest }

%table.table.table-striped
  %thead
    %tr
      %th District
      %th.text-right People served
      %th.text-right= "People goal (by #{@plan_date})"
  %tfoot
    %tr
      %th Grand Total
      %th.text-right= human_number @reports.map(&:impact).sum
      %th.text-right= human_number @plans.sum(:people_goal)
  %tbody
    = render @districts
