-# frozen_string_literal: true
.row
  .col-sm-8
    %h1.left= "Countries"
  .col-sm-2.text-right
    - if @show_hidden
      = link_to 'Show hidden', hidden_countries_path, class: 'btn btn-outline-dark'
  .col-sm-2.text-right
    - if current_user.geography_manager?
      = link_to 'New', new_district_path, class: 'btn yellow'
    = link_to 'Back', @return_path, class: 'btn blue'

.row
  %table.table.table-striped
    %thead.thead-dark
      %tr
        %th Name
        %th Gis code
        %th Population
        %th Households
        %th
    %tbody
      -@countries.each do |country|
        %tr
          %td= link_to country.name, country_path(country)
          %td= country.gis_code
          %td= country.population
          %td= country.households
          %td= link_to 'Edit', edit_country_path(country), class: 'btn yellow small'
