-# frozen_string_literal: true
.row.mb-3
  .col-sm-10
    %h4 Data: All Technologies
  .col-sm-2.text-right
    = link_to 'New', new_technology_path, class: 'btn yellow'
    = link_to 'Back', data_path, class: 'btn blue'

= render partial: 'shared/search', locals: { from: @from, to: @to, earliest: @earliest, latest: @latest }

%table.table.table-striped
  %thead
    %tr
      %th Tech
      %th.text-right Distributed
      %th.text-right Checked
      %th.text-right People served
      %th.text-right= "Dist. goal (by #{human_date @target_date})"
      %th.text-right People goal
  %tfoot
    %tr
      %th Grand Total
      %th
      %th
      %th.text-right= human_number @reports.map(&:impact).sum
      %th
      %th.text-right= human_number @targets.sum(:people_goal)
  %tbody
    = render @technologies
