-# frozen_string_literal: true
.row.mb-3
  .col-sm-4
    %h4= "Data: #{@technology.name}"
  .col-sm-3.text-center
    - if @by_mou
      = link_to 'View by Sector', request.fullpath.gsub('&by_mou=true', '').gsub('?by_mou=true', '') , class: 'btn btn-outline-dark', id: 'tech_viewby'
    - else
      = link_to 'View by MOU', @by_mou_rfp , class: 'btn btn-outline-dark', id: 'tech_viewby'
  .col-sm-3.text-center
    - if @skip_blanks
      = link_to 'Show empty rows', request.fullpath.gsub('&skip_blanks=true', '').gsub('?skip_blanks=true', '') , class: 'btn btn-outline-dark', id: 'tech_skipblank'
    - else
      = link_to 'Hide empty rows',  @skip_blanks_rfp, class: 'btn btn-outline-dark', id: 'tech_skipblank'
  .col-sm-2.text-right
    - if current_user.can_manage_technologies? || current_user.admin?
      = link_to 'Edit', edit_technology_path(@technology), class: 'btn btn-primary'
    = link_to 'Back', technologies_path, class: 'btn btn-dark'

= render partial: 'shared/search', locals: { from: @from, to: @to, earliest: @earliest, latest: @latest }

- if @by_mou
  .row.mt-3#mou_section
    .col
      %table.table.table-striped
        %thead
          %tr
            %th MOU
            %th.text-right Dist. goal
            %th.text-right Distributed
            %th.text-right Checked
            %th.text-right People goal
            %th.text-right People served
        %tfoot
          %tr
            %th Grand Total
            %th.text-right= human_number @targets.sum(:goal)
            %th.text-right= human_number @reports.sum(:distributed)
            %th.text-right= human_number @reports.sum(:checked)
            %th.text-right= human_number @targets.sum(:people_goal)
            %th.text-right= human_number @reports.map(&:impact).sum
        %tbody
          = render partial: 'mou', collection: @mous
- else
  .row.mt-3#sector_section
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Sector
            %th.text-right= "Dist. Goal (by #{@plan_date})"
            %th.text-right Distributed
            %th.text-right Checked
            %th.text-right People goal
            %th.text-right People served
        %tfoot
          %tr
            %th Grand Total
            %th.text-right= human_number @plans.sum(:goal)
            %th.text-right= human_number @reports.sum(:distributed)
            %th.text-right= human_number @reports.sum(:checked)
            %th.text-right= human_number @plans.sum(:people_goal)
            %th.text-right= human_number @reports.map(&:impact).sum
        %tbody
          = render partial: 'sector', collection: @sectors
