-# frozen_string_literal: true
.row.mb-3
  .col-sm-6
    %h4= "Data: #{@technology.name}"
  .col-sm-3.text-center
    = link_to 'View by MOU', '#', class: 'btn btn-secondary prevent-default', id: 'tech_viewby'
  .col-sm-3.text-right
    = link_to 'Edit', edit_technology_path(@technology), class: 'btn btn-primary'

= render partial: 'shared/search', locals: { from: @from, to: @to, earliest: @earliest, latest: @latest }

.row.mt-3#sector_section
  .col.text-center
    %table.table.table-striped
      %thead
        %tr
          = render partial: 'sector_thead'
      %tbody
        = render partial: 'sector', collection: @sectors

%div{ class: 'row mt-3', id: 'mou_section', style: 'display: none;'}
  .col.text-center
    %table.table.table-striped
      %thead
        %tr
          = render partial: 'mou_thead'
      %tbody
        = render partial: 'mou', collection: @mous
