-# frozen_string_literal: true
= simple_form_for [@contract, @plan], defaults: { input_html: { class: 'plan-form' }} do |f|
  - if @plan.errors.any?
    = render partial: 'shared/form_errors', locals: { object: @plan }
  = f.input :planable_id
  = f.input :planable_type

  .row
    .col.field
      = f.input :district, hint: 'Select to limit sectors.', collection: @districts, selected: @location.district
    .col.field
      = f.input :sector, collection: [['Please select a District','0']], disabled: 0, hint: 'Select to limit cells.', selected: @location.sector
    .col.field
      = f.input :cell, collection: [['Please select a Sector','0']], disabled: 0, hint: 'Select to limit villages.', selected: @location.cell
  .row
    .col.field
      = f.input :village, collection: [['Please select a Cell','0']], disabled: 0, hint: 'Select to limit facilities.', selected: @location.village
    .col.field
      = f.input :facility, collection: [['Please select a Village','0']], disabled: 0, selected: @location.facility

  .row
    .col-md.field
      = f.input :technology, collection: @technologies
    .col.field
      = f.input :goal
    .col.field
      = f.input :people_goal

  .row
    .col.field
      = f.input :date, as: :string, input_html: { class: 'datetimepicker-input', autocomplete: 'off', value: (@plan.date || @max_date), data: { mindate: @min_date, maxdate: @max_date, toggle: 'datetimepicker', target: '#plan_date' } }

  .actions
    = f.button :submit, class: 'btn yellow skinny btn-match-field-height'
