-# frozen_string_literal: true
%p#notice= notice

%p
  %b Contract:
  = @plan.contract
%p
  %b Technology:
  = @plan.technology
%p
  %b Goal:
  = @plan.goal
%p
  %b People goal:
  = @plan.people_goal

= link_to 'Edit', edit_plan_path(@plan)
\|
= link_to 'Back', plans_path
