-# frozen_string_literal: true
.row.mb-3
  .col-8
    %h1 All Cells
  .col-4.text-right
    = link_to 'New', new_cell_path, class: 'btn btn-primary'

.row
  .col
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Sector
          %th District
          %th Gis ID
          %th Population
          %th Households
          %th
          %th

      %tbody
        - @cells.each do |cell|
          %tr
            %td= link_to cell.name, cell
            %td= cell.sector.name
            %td= cell.district.name
            %td= cell.gis_id
            %td.text-right= human_number cell.population
            %td.text-right= human_number cell.households
            %td= link_to 'Edit', edit_cell_path(cell), class: 'btn btn-outline-primary'
            %td= link_to 'Delete', cell, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'
