-# frozen_string_literal: true
= simple_form_for @report, wrapper: :horizontal_form do |f|
  = f.input :reportable
  = f.input :date, discard_day: true
  = f.input :technology
  = f.input :distributed
  = f.input :checked
  = f.input :user
  = f.button :submit
