-# frozen_string_literal: true
= simple_form_for @report, wrapper: :horizontal_form do |f|
  - if @report.errors.any?
    = render partial: 'shared/form_errors', locals: { object: @report }
  .row
    .col-12.field
      = f.input :technology_id, collection: @technologies, selected: @report.technology.id
    .col-12.field
      = f.input :date
  .row.mt-3
    .col.field
      = f.input :distributed
    .col.field
      = f.input :checked
    .col.field
      = f.input :people
    .col.field
      = f.input :hours, hint: 'Only include hours for trainings or events'
  .row.my-3.actions
    .col.text-right
      = f.button :submit, class: 'btn yellow'
    .col.text-left
      = link_to 'Back', @return_path, class: 'btn empty'
      = link_to 'Delete Report', report_path(@report), method: :delete, class: 'btn red', data: { confirm: 'Are you sure you want to DELETE the report?' }
