-# frozen_string_literal: true
%h1= "Edit report for #{@geography.name} #{@geography.class}"
%p
  - @hierarchy.each_with_index do |g, i|
    =  ">" if i > 0
    =  g

%h5 If the Geography is incorrect, please delete this report and re-create it.
%br
= render 'form'
