-# frozen_string_literal: true
- if current_user.geography_manager?
  %h1
    Edit report for
    %span= link_to("#{@geography.name} #{@geography.class}", polymorphic_path(@geography))
- else
  %h1= "Edit report for #{@geography.name} #{@geography.class}"
%p= format_hierarchy @geography.hierarchy
%p= "Submitted by #{@report.user.name}"

%h5 If the Geography is incorrect, please delete this report and re-create it.
%br
= render 'form'
