-# frozen_string_literal: true
!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %title Liters Tracker [20 Liters]
    %meta{name: 'WTF', content: 'Seriously, WTF'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'shared/icons'
  %body{'data-controller': controller.controller_name, 'data-action': controller.action_name }
    %header
      = render 'shared/navbar'
    .fa-5x#loading_screen
      %i.fa.fa-spinner.fa-pulse#loading_spinner
    %main.container
      = flash_messages
      = yield
      / - if Constants::Geography::CONTROLLERS.include?(controller_name)
      /   .row
      /     .col.text-right
      /       = link_to 'Back to geography', geography_path, class: 'btn btn-sm blue'
