-# frozen_string_literal: true
-# NOTE: see dashboard.html.haml for root Dashboard#index
!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title Track [20 Liters]
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5HMCMHD');
    / end Google Tag Manager
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'shared/icons'
  %body.liters-tracker{ 'data-controller': controller.controller_name, 'data-action': controller.action_name, 'data-site': '20liters-track' }
    / Google Tag Manager (noscript)
    %noscript
      %iframe{ src: 'https://www.googletagmanager.com/ns.html?id=GTM-5HMCMHD', height: 0, width: 0, style: 'display:none;visibility:hidden;' }
    / end Google Tag Manager (noscript)
    %header
      = render 'shared/navbar'
    #loading_screen.fa-5x
      %i#loading_spinner.fa.fa-spinner.fa-pulse
    %main.container
      = flash_messages
      = yield
