-# frozen_string_literal: true
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Track [20 Liters]
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5HMCMHD');
    / end Google Tag Manager
    / Global site tag (gtag.js) - Google Analytics
    %script{ async: true, src: 'https://www.googletagmanager.com/gtag/js?id=G-QG8X17G0WC' }
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QG8X17G0WC');
    / end Global site tag - Google Analytics
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://20liters.kindful.com/embeds/743a7d01-5726-491f-aaf2-fbbc15da826a/init.js', 'data-embed-id': '743a7d01-5726-491f-aaf2-fbbc15da826a', 'data-lookup-type': 'jquery-selector', 'data-lookup-value': '#kindful_plugin', 'data-styles-off': true
    = render 'shared/icons'
  %body{'data-controller': 'dashboard' }
    =render 'dashboard/header', locals: { title: @title, subtitle: @subtitle }
    %main
      = yield
    %footer.footer
      = render 'dashboard/footer'
