-# frozen_string_literal: true
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Liters Tracker [20 Liters]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    =render 'shared/header', locals: { title: @title, subtitle: @subtitle }
    %main
      = yield
    %footer.footer
      = render 'shared/footer'
